// variabili
$phone: 0px;
$tablet: 768px;
$laptop: 1024px;
$large: 1920px;

@mixin xs {
  @media only screen and (min-width: $phone)and (max-width : #{$tablet - 1}) {
    @content;
  }
}

@mixin sm {
  @media only screen and (min-width: $tablet)and (max-width : #{$laptop - 1}) {
    @content;
  }
}
@mixin tm {
  @media only screen and (min-width: $laptop)and (max-width : #{$large - 1}) {
    @content;
  }
}

@mixin lm {
  @media only screen and (min-width: $large) {
    @content;
  }
}
