@mixin buttonSize($size) {
  @if $size == "xl" {
    padding: rem(50px) rem(50px);
    font-size: rem($buttonXl);
  } @else if $size == "sm" {
    padding: rem(30px) rem(30px);
    font-size: rem($buttonSm);
  } @else {
    padding: rem(40px) rem(40px);
    font-size: rem($buttonMd);
  }
}

// @mixin buttonFill($theme) {
//   @if ($theme == "outline") {
//     background-color: $terziary;
//     border-color: $interaction-color;
//     color: $interaction-color;
//   } @else {
//     background-color: $interaction-color;
//     border-color: $interaction-color;
//     color: $interaction-color;
//   }
// }
Button {
  display: flex;
  @include just-ali(center, center);
  border-radius: 28px;
  min-width: fit-content;

  outline: none;

  cursor: pointer;
  gap: 5px;

  color: rgb(255, 255, 255);

  &.icon__right {
    flex-direction: row-reverse;
  }

  &.outline {
    border: 6px solid $secondary-color;
    color: black;
    background-color: $terziary;
  }

  &.fill {
    background-color: $interaction-color;
    color: rgb(242, 242, 242);
  }
  &.text {
    background-color: $terziary;
    color: black;
    outline: none;
    border: none;
  }

  &.square {
    width: fit-content;
    border-radius: 100%;
  }
  &.xl {
    @include buttonSize(xl);
  }

  &.md {
    @include buttonSize(md);
  }

  &.sm {
    @include buttonSize(sm);
  }
}
