$_fontPrimary: "Poppins", sans-serif;

// function for rem
@use "sass:math";

$basesize: 16px;

@function rem($px) {
  @return math.div($px, $basesize) * 1rem;
}

$heading1: 26px;
$heading2: 22px;
$heading3: 20px;
$heading4: 18px;
$heading5: 16px;
$paragraph: 16px;
$paragraphSmall: 14px;
$paragraphExtraSmall: 12px;

$buttonXl: 30px;
$buttonMd: 20px;
$buttonSm: 14px;
